.box-container-404 {
  text-align: center;
  width: 880px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-404 img {
  width: 94px;
  height: 80px;
}
.title-404 {
  color:#fff;
  font-size: 2em;
  margin: 10px 0;
}

.text-404 {
  width: 64%;
  font-size: 18px;
  color: #b0b0b0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.button-404 {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-404:hover {
  background-color: #e0e0e0;
}

@media (max-width: 997px) {
  .box-container-404 {
    width: 90%;
    height: 50vh;
  }
}

@media (max-width: 997px) {
  .icon-404 img {
    margin-top: -20px;
    width: 70px !important;
    height: 64px !important;
  }

  .title-404 {
    font-size: 20px;
  }

  .text-404 {
    width: 45% !important;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .button-404 {
    margin-top: 10px;
    font-size: 12px;
    padding: 7px 14px;
  }
}

@media (max-width: 667px) {
  .icon-404 img {
    margin-top: -30px;
    width: 60px !important;
    height: 54px !important;
  }

  .title-404 {
    font-size: 20px;
  }

  .text-404 {
    width: 80% !important;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .button-404 {
    margin-top: 10px;
    font-size: 12px;
    padding: 7px 14px;
  }
}
