/* GDPR */
.gdpr-container {
  width: 972px !important;
  height: auto !important;
  padding: 50px 90px;
  border-radius: 8px;
  border: 1px solid !important;
  border-color: white !important  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gdpr-buttons {
  padding: 30px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.gdpr-buttons button {
  width: 293px !important;
  height: 72px !important;
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  text-align: center !important;
  cursor: pointer; 
  font-size: 22px !important;
  line-height: 34px;
  background-color: #ffa500;
  color: #000;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 676px) {
  /* GDPR */
  .gdpr-container {
    padding: 30px;
    width: 100% !important;

    & p {
      font-size: 12px;
    }
    & span {
      font-size: 12px;
    }
  }

  .gdpr-buttons {
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    flex-direction: column;
    row-gap: 5px;
  }
  .gdpr-buttons button {
    width: 100% !important;
    height: 52px !important;
    font-size: 18px !important;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    cursor: pointer; 
    line-height: 34px;
    background-color: #ffa500;
    color: #000;
    border: none;
    border-radius: 5px;
  }
}