/* global start */
:root {
  --primary-color: #000000;
  --secondary-color: #fabd38;
  --white: #ffffff;
  --black800: #2b2b2b;
  --black700: #454545;
  --black400: #a7a7a7;
  --black300: #cbcbcb;
  --black200: #eaeaea;
  --black100: ##f5f5f5;
  --black50: #fafafb;
  --text-blue: #3e3e59;
}
html,
body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.container-fluid {
  width: 100%;
}
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Positions */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* Text Color */
.text-blue {
  color: var(--text-blue);
}
.text-yellow {
  color: var(--secondary-color);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--primary-color);
}
.text-black-100 {
  color: var(--black100);
}
.text-black-200 {
  color: var(--black200);
}
.text-black-300 {
  color: var(--black300);
}
.text-black-400 {
  color: var(--black400);
}
/* Bg Color */
.bg-yellow {
  background-color: var(--secondary-color);
}
.bg-black {
  background-color: var(--primary-color);
}
.bg-black-800 {
  background-color: var(--black800);
}
.bg-black-700 {
  background-color: var(--black700);
}
.bg-black-400 {
  background-color: var(--black400);
}

.bg-black-200 {
  background-color: var(--black200);
}
.bg-white {
  background-color: var(--white);
}

/* Padding */
.pl-10 {
  padding-left: 15px;
}
.pl-100 {
  padding-left: 100px;
}
.pl-150 {
  padding-left: 150px;
}
.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.py-30 {
  padding: 30px 0;
}

.pr-20 {
  padding-right: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-50-80 {
  padding-top: 50px;
  padding-bottom: 80px;
}
.py-80-50 {
  padding-top: 80px;
  padding-bottom: 50px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
/* Margin */

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-40 {
  margin-bottom: 40px;
}
/* Font Sizes */
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px;
}
.font-28 {
  font-size: 28px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-36 {
  font-size: 36px;
}
.font-40 {
  font-size: 40px;
}
.font-54 {
  font-size: 54px;
}
/* Font Weight */
.font-normal {
  font-weight: normal;
}
.font-semi-bold {
  font-weight: 500;
}
.font-bold {
  font-weight: 600;
}
.font-extra-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 800;
}
/* Text Align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

.items-strech {
  align-items: stretch;
}
.justify-center {
  justify-content: center;
}
[class*="col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  flex: 0 0 auto;
}

/* Flexbox-based columns */

.col-4 {
  flex: 0 0 33.33333%; /* 4/12 */
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%; /* 5/12 */
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%; /* 6/12 */
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%; /* 7/12 */
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%; /* 8/12 */
  max-width: 66.66667%;
}

.col-12 {
  flex: 0 0 100%; /* 12/12 */
  max-width: 100%;
}

/* Flex container to hold the columns */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* Width */
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.w-50 {
  width: 50%;
}
.w-48 {
  width: 48%;
}
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33%;
}
/* Gaps */

.gap-30 {
  gap: 30px;
}
.rgap-5 {
  row-gap: 5px;
}
.rgap-10 {
  row-gap: 10px;
}
.rgap-20 {
  row-gap: 20px;
}
.rgap-30 {
  row-gap: 30px;
}
.rgap-40 {
  row-gap: 40px;
}
.rgap-50 {
  row-gap: 50px;
}
.rgap-80 {
  row-gap: 80px;
}
.cgap-5 {
  column-gap: 5px;
}
.cgap-10 {
  column-gap: 10px;
}
.cgap-20 {
  column-gap: 20px;
}
.cgap-30 {
  column-gap: 30px;
}
.cgap-40 {
  column-gap: 40px;
}
.cgap-80 {
  column-gap: 80px;
}
.cgap-100 {
  column-gap: 100px;
}

/* Grid */
.grid {
  display: grid;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Other Global */

.password-eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0px, -50%);
}
/* radio button styling for box shape */
.custom-radio2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-left: 35px;
}
.custom-radio2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-mark2 {
  position: absolute;
  top: 8;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #222;
  border-radius: 30%;
  border: 2px solid #fff;
  transition: background-color 0.3s ease;
}

.custom-radio2 input:checked ~ .radio-mark2 {
  background-color: #f8f8f8;
}

.radio-mark2:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio2 input:checked ~ .radio-mark2:after {
  display: block;
}

.custom-radio2 .radio-mark:after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  transform: translate(-50%, -50%);
}
/* radio button stylish for circle shape  */
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-left: 35px;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-mark {
  position: absolute;
  top: 8;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #222;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: background-color 0.3s ease;
}

.custom-radio input:checked ~ .radio-mark {
  background-color: #f8f8f8;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .radio-mark:after {
  display: block;
}

.custom-radio .radio-mark:after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  transform: translate(-50%, -50%);
}
.cursor-pointer {
  cursor: pointer;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb a {
  padding: 5px 25px 5px 0px;
  font-size: 24px;
  flex-direction: row;
  top: 10px;
  left: 30px;
  color: #999;
}
.breadcrumb a:last-child {
  color: #fff;
}
.dark-dropdown {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--black300);
  background-color: var(--primary-color);
  color: var(--black400);
  font-size: 16px;
}

.save-btn-register {
  display: flex;
  justify-content: end;
}
.save-btn-register button {
  width: 219px;
  height: 72px;
  border-radius: 6px;
  padding: 15px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  background-color: #f9bd38;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 25px;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

/* Firefox */
* {
  scrollbar-width: thin; /* Options: auto | thin */
  scrollbar-color: var(--secondary-color) var(--primary-color); /* thumb color and track color */
}

/* Safari */
@supports (-webkit-overflow-scrolling: touch) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--primary-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
  }
}

.dark-mail,
.dark-pass,
.dark-form {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--black300);
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
}

.dark-mail:focus,
.dark-pass:focus,
.dark-form:focus {
  outline: none;
  border-color: #ffa500;
}
.light-mail,
.light-pass,
.light-form {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--black300);
  background-color: var(--white);
  color: var(--primary-color);
  font-size: 16px;
}

.light-mail:focus,
.light-pass:focus,
.light-form:focus {
  outline: none;
  border-color: #ffa500;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* global end */

/* Swiper Start */

.swiper {
  width: 100%;
}

.swiper-slide,
.product-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 40px);
  right: auto;
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 40px);
  left: auto;
}
.swiper-btn img {
  width: 52px;
  height: 52px;
}
.swiper-pagination-bullet {
  background: var(--black800);
  opacity: 1;
  width: 8px;
  height: 8px;
  border-radius: 16px;
}
.swiper-pagination-bullet-active {
  background: var(--white);
  width: 30px;
  height: 8px;
}

/* Product Swiper */
.product-carousel .swiper-slide {
  text-align: center;
}

/* Swiper End */

/* Off Canvas */
.offcanvas {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.offcanvas-content {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
}

.offcanvas-content a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  display: block;
  transition: 0.3s;
  line-height: 24px;
}

.offcanvas-content p {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.offcanvas-content a:hover {
  color: #f1f1f1;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px !important;
}

.offcanvas.open {
  width: 60%;
}

.collapse__dropdown_offcanvas {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: 0.4s all;
  & {
    .text {
      width: 90%;
    }
    .collpase_dropdown_header_icon {
      width: 6%;
      display: flex;
      justify-content: flex-end;
      & {
        img:first-child {
          display: block;
          width: 18px;
          margin-right: 15px;
        }
        img:last-child {
          display: none;
          width: 18px;
          margin-right: 15px;
        }
      }
    }
  }
}
.collapse__dropdown_offcanvas.active {
  padding-bottom: 20px;
  & {
    .collpase_dropdown_header_icon {
      width: 9%;
      display: flex;
      justify-content: flex-end;
      & {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
        }
      }
    }
  }
}

.accordion__collapse_dropdown__item {
  overflow: hidden;
  padding: 10px 0;
}

.accordion__collapse_dropdown__item .accordion__content {
  padding: 0;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
}

.dark-search {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  &::placeholder {
    color: var(--white);
  }
}
/* Header */

.main-header-mobile {
  padding: 10px 20px 25px 20px;
}
.top-header {
  padding: 8px 0;
  position: relative;
  & {
    span {
      position: absolute;
      top: 20%;
      right: 3%;
      cursor: pointer;
    }
  }
}

.header-icons {
  padding: 10px 20px;
  display: flex;
  justify-content: end;
}
.mid-header__wrapper {
  padding: 20px 20px 40px 20px;
  & {
    .mid-header__search-bar {
      border: solid 1px var(--white);
      padding: 12px 16px;
      position: relative;
      border-radius: 6px;
      & {
        input {
          outline: none;
          background-color: transparent;
          border: none;
          color: var(--white);
          font-size: 16px;
          font-weight: 500;
          &::placeholder {
            color: var(--black400);
            font-size: 16px;
            font-weight: 500;
          }
        }
        img {
          cursor: pointer;
        }
      }
    }
    .mid-header__right {
      /* background-color: yellow; */
      & {
        .icon-boxes {
          & {
            div {
              cursor: pointer;
            }
          }
        }
        .selectors {
          & {
            label {
              margin-bottom: 2px;
            }
            select {
              background-color: transparent;
              color: var(--white);
              font-size: 14px;
              font-weight: normal;
              padding: 5px 16px;
              border-radius: 6px;
              & {
                option {
                  background-color: var(--black700);
                }
              }
            }
          }
        }
      }
    }
  }
}

.search-template {
  position: absolute;
  background-color: white;
  width: 400px;
  top: 120%;
  padding: 20px;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  z-index: 9;
  & {
    .prod-item {
      border-bottom: 1px solid var(--black400);
      padding: 10px 0;
      z-index: 10;
    }
  }
}
.search-template.active {
  display: flex;
}

.lower-header {
  border-top: solid 1px var(--black200);
  border-bottom: solid 1px var(--black200);
  & {
    .nav-item {
      padding: 16px 30px;
      cursor: pointer;
      transition: 0.3s background-color;
      & {
        span,
        i {
          transition: color 0.3s, font-weight 0.3s;
        }
      }
      &:hover {
        background-color: var(--secondary-color);
        & {
          span,
          i {
            color: var(--primary-colors);
            font-weight: 600;
          }
        }
      }
    }
  }
}
.nav-dropdown {
  position: fixed;
  box-shadow: 0px 15px 32.9px 22px rgba(249, 189, 56, 0.1);
  display: none;
  z-index: 9;
}

.nav-dropdown__wrapper {
  padding: 50px 100px;

  display: flex;
  justify-content: space-between;
  & {
    h3 {
      border-bottom: solid 1px var(--white);
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    li {
      cursor: pointer;
      list-style-type: none;
      padding-left: 5px;
    }
  }
}

/* Hero Section */

.hero__swiper {
  padding: 80px 0 50px 0;
}
.hero__icon__box {
  width: 24%;
  border-left: 1px solid var(--black200);
  border-right: 1px solid var(--black200);

  & {
    img {
      width: 32px;
      margin-bottom: 5px;
    }
    h3,
    span {
      color: var(--white);
    }
  }
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

/* Section Title */
.section-title-black {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
  & {
    .line {
      flex: 1;
      height: 1px;
      border-top: solid 2px black;
    }
  }
}
.section-title-white {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
  & {
    .line {
      flex: 1;
      height: 1px;
      border-top: solid 2px white;
    }
  }
}

/* Feature Brands */
.brand-logos {
  & {
    .brand-logo {
      max-width: 230px;
    }
    .line {
      border-top: dashed 2px var(--primary-color);
    }
  }
}
/* Products Carousels */
.product-carousels {
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 20px);
    right: auto;
  }
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 20px);
    left: auto;
  }
}
.productSwiper .swiper-product {
  padding: 17px 20px;
  & {
    img {
      margin-bottom: 10px;
    }
    span {
      margin-bottom: 10px;
    }
    .swiper-product__cart-container {
      & {
        .item-counter {
          width: 48%;
          border-radius: 8px;
          & {
            input {
              width: 33%;
              font-size: 18px;
              text-align: center;
              background-color: var(--black800);
              margin: 1px 0;
              color: var(--white);
              border: none;
              &:focus {
                outline: none;
              }
            }
            span {
              width: 30%;
              text-align: center;
              padding: 18px 10px;
              font-size: 18px;
              font-family: 500;
              cursor: pointer;
            }
          }
        }
        button {
          width: 48%;
          padding: 18px 10px;
          font-size: 18px;
          font-family: 500;
          cursor: pointer;
          border: none;
          & {
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
/* Our Stories */
.our-stories__wrapper .card {
  & {
    img {
      width: 100%;
    }
  }
}
/* Newsletter */
.newsletter__wrapper {
  padding: 100px 20px;
  & {
    span {
      margin-bottom: 20px;
    }
  }
}
.input-container {
  position: relative;
  padding: 16px;
  border-radius: 6px;
  border: solid 1px var(--black300);
  & {
    button {
      /* border-radius: 4px; */
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 20px;
      cursor: pointer;
    }
    input {
      height: 100%;
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 0.625rem 70px 0.625rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      color: rgb(69 90 100);
      outline: none;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.pargraph__wrapper {
  padding-bottom: 60px;
}
.pargraph__wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-top: 1px solid var(--black50);
  padding: 30px 0;
  & {
    a {
      color: var(--white);
      text-decoration: underline;
    }
  }
}
/* Categories Section */
.categories__wrapper {
  & {
    .left {
      width: 40%;
    }
    .right {
      width: 58%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      & {
        div {
          width: 48%;
        }
        img {
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
    }
    img {
      width: 100%;
      margin-bottom: 10px;
      height: 100%;
    }
    a {
      text-decoration: underline;
    }
  }
}

/* Footer */
.footer-links {
  padding-bottom: 50px;
  & {
    .footer-links__wrapper h5 {
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
    }
  }
}
.lower-footer {
  padding-top: 20px;
  border-top: solid 1px var(--black200);
  & {
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: start;
    }
    span {
      opacity: 0.6;
    }
    .footer-payment {
      width: 100%;
    }
    .footer-logo {
      width: 80%;
    }
    .footer-social__icons {
      display: flex;
      flex-direction: row;
    }
  }
}
/* Sign In */
.sign-in-button {
  width: 219px;
  height: 72px;
  padding: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  background-color: #ffa500;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #e69500;
}
.sign-in-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.sign-container {
  width: 808px;
  height: 478px;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid;
  border-color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign-in-breadcrumb {
  top: 10px;
  left: 30px;
  font-size: 0.9em;
  color: #999;
}

.sign-in-breadcrumb a {
  color: #999;
  text-decoration: none;
}

.sign-in-breadcrumb a:hover {
  color: #ffa500;
}
/* Sign up */
.sign-up-breadcrumb {
  top: 10px;
  left: 30px;
  font-size: 0.9em;
  color: #999;
}

.sign-up-breadcrumb a {
  color: #999;
  text-decoration: none;
}

.sign-up-breadcrumb a:hover {
  color: #ffa500;
}

.sign-up-container,
.edit-information-container {
  width: 808px;
  height: auto;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid !important;
  border-color: white !important  ;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* New Address */
.new-address-container {
  width: 880px !important;
  height: auto !important;
  padding: 50px 90px;
  border-radius: 8px;
  border: 1px solid !important;
  border-color: white !important  ;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Dashboard */
.dashboard-container {
  height: 179px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  margin: 8px;
  text-align: center;
}

/* About us */
.about-intro {
  & {
    div {
      width: 48%;
    }
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
    .our-range img {
      object-position: bottom;
    }
  }
}
.our-founder__team {
  padding: 80px 0 50px 0;
  & {
    img {
      margin-bottom: 10px;
    }
  }
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--white);
}
.accordion > div:first-child {
  border-top: none;
}

.accordion__item {
  border-top: 1px solid #e5f3fa;
  border-bottom: 1px solid #e5f3fa;
  overflow: hidden;
  padding: 20px 0;
}

.accordion__header {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: 0.4s all;
  & {
    .text {
      width: 90%;
    }
    .accordion__header__icon {
      width: 9%;
      display: flex;
      justify-content: flex-end;
      & {
        img:first-child {
          display: block;
        }
        img:last-child {
          display: none;
        }
      }
    }
  }
}
.accordion__header.active {
  padding-bottom: 20px;
  & {
    .accordion__header__icon {
      width: 9%;
      display: flex;
      justify-content: flex-end;
      & {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
        }
      }
    }
  }
}

.accordion__item .accordion__content {
  padding: 0;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
}

/* See More Button */
.see-more-btn {
  font-size: 14px;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  background: transparent;
}

/* ======== Media Quries============= */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1100px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header-desktop {
    display: none;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 991px) {
  .full-content,
  .full-content-2,
  .full-content-3,
  .full-content-4,
  .full-content-5,
  .full-content-6,
  .full-content-7,
  .full-content-8,
  .full-content-9,
  .full-content-10,
  .full-content-11,
  .full-content-12,
  .full-content-13,
  .full-content-14,
  .full-content-15,
  .full-content-16,
  .full-content-17,
  .full-content-18,
  .full-content-19,
  .full-content-20,
  .full-content-21 {
    display: block !important;
  }

  .toggle-content {
    display: none !important;
  }
  /* Home Page */
  .hero__icons-mobile,
  .mobile-brand-swiper {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .font-12 {
    font-size: 10px;
  }
  .font-14 {
    font-size: 12px;
  }
  .font-16 {
    font-size: 14px;
  }
  .font-18 {
    font-size: 16px;
  }
  .font-20 {
    font-size: 18px;
  }
  .font-22 {
    font-size: 18px;
  }
  .font-24 {
    font-size: 22px;
  }
  .font-26 {
    font-size: 22px;
  }
  .font-28 {
    font-size: 24px;
  }
  .font-32 {
    font-size: 26px;
  }
  .font-34 {
    font-size: 26px;
  }
  .font-36 {
    font-size: 30px;
  }
  .font-40 {
    font-size: 36px;
  }
  .font-54 {
    font-size: 48px;
  }
  .w-50 {
    width: 92%;
  }
  .py-50 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-50 {
    padding-top: 30px;
  }
  .grid-cols-5 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-cols-4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .full-content,
  .full-content-2,
  .full-content-3,
  .full-content-4,
  .full-content-5,
  .full-content-6,
  .full-content-7,
  .full-content-8,
  .full-content-9,
  .full-content-10,
  .full-content-11,
  .full-content-12,
  .full-content-13,
  .full-content-14,
  .full-content-15,
  .full-content-16,
  .full-content-17,
  .full-content-18,
  .full-content-19,
  .full-content-20,
  .full-content-21 {
    display: none;
  }
  .see-more-btn {
    display: contents;
  }
  /* Home Page */
  .hero__icons,
  .brand-logos__wrappper {
    display: none;
  }
  .hero__icons-mobile .swiper-slide .inner-box {
    border-left: 1px solid var(--black200);
    border-right: 1px solid var(--black200);
    padding: 0 20px;
  }
  .iconSwiper {
    & {
      .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 4px);
        right: auto;
      }
      .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 4px);
        left: auto;
      }
    }
  }
  .categories__wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
    .left {
      width: 100%;
      & {
        img {
          height: 250px;
          object-fit: cover;
        }
      }
    }
    .right {
      width: 100%;
    }
  }

  .pargraph__wrapper .paragraph3 {
    grid-column: span 2;
  }
  .hero__icon__box {
    width: 50%;
    border: none;
  }

  /* About us */
  .about-intro {
    & {
      section {
        flex-wrap: wrap;
        row-gap: 20px;
      }
      div {
        width: 100%;
      }
      .our-company {
        border-bottom: solid 1px var(--black400);
      }
      .our-range {
        flex-direction: column-reverse;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .hide-bread-crumb {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-4 {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .col-8 {
    flex: 100% !important;
    max-width: 100% !important;
  }

  .pargraph__wrapper .paragraph3 {
    grid-column: span 1;
  }

  .categories__wrapper {
    & {
      .right {
        & {
          justify-content: space-between;
          div {
            width: 45%;
          }
        }
      }
    }
  }
  .lower-footer > a {
    display: flex;
    justify-content: center;
  }
  /* About us */
  .our-founder__team {
    padding: 30px 0 30px 0;
  }
}
/* Sign in */
.forgot-password {
  text-align: center;
}
.sign-in-button {
  width: 100% !important;
  height: 52px !important;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  /* Sign Up */
  .sign-up-button {
    width: 100% !important;
    height: 52px !important;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .forgot-password {
    text-align: center;
  }

  .radio-mark2 {
    margin-left: 15px;
    padding-top: 10px;
  }
  .save-btn-register {
    display: flex;
    justify-content: center !important;
  }

  .save-btn-register button {
    height: 52px !important;
    text-align: center !important;
    font-size: 18px !important;
    display: flex;
    justify-content: center !important;
  }
  .social-title {
    display: flex;
    flex-flow: nowrap;
    gap: 30px;
  }
  .custom-radio {
    padding-top: 10px;
  }
}

@media screen and (max-width: 676px) {
  .grid-cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-cols-5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .lower-footer {
    & {
      div {
        align-items: center;
        & {
          h5 {
            text-align: center;
          }
        }
      }
      .footer-payment {
        width: 80%;
      }
      .footer-logo {
        width: 80%;
      }
      .footer-social__icons {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .lower-footer.grid-cols-5 {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-bottom: 20px;
  }
  /* Sign-up */
  .sign-up-breadcrumb {
    top: 10px;
    left: 30px;
    font-size: 0.9em;
    color: #999;
  }

  .sign-up-breadcrumb a {
    color: #999;
    text-decoration: none;
  }

  .sign-up-breadcrumb a:hover {
    color: #ffa500;
  }
  /* New Address */
  .new-address-container {
    padding: 20px 30px;

    & {
      p {
        font-size: 17px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .grid-cols-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-cols-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero__icon__box {
    width: 100%;
  }
  .font-12 {
    font-size: 10px;
  }
  .font-14 {
    font-size: 10px;
  }
  .font-16 {
    font-size: 14px;
  }
  .font-18 {
    font-size: 14px;
  }
  .font-20 {
    font-size: 18px;
  }
  .font-22 {
    font-size: 18px;
  }
  .font-24 {
    font-size: 18px;
  }
  .font-26 {
    font-size: 22px;
  }
  .font-28 {
    font-size: 20px;
  }
  .font-32 {
    font-size: 22px;
  }
  .font-34 {
    font-size: 22px;
  }
  .font-36 {
    font-size: 28px;
  }
  .font-40 {
    font-size: 30px;
  }
  .font-54 {
    font-size: 42px;
  }
}
